@font-face {
  font-family: "CircularStd-Medium";
  src: url("../fonts/circular/CircularStd-Book.woff"),
    url("../fonts/circular/CircularStd-Book.woff2") format("woff2"),
    url("../fonts/circular/CircularStd-Book.ttf") format("truetype");
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("../fonts/lato/latolight.ttf"),
    url("../fonts/lato/latolight.woff2") format("woff2"),
    url("../fonts/lato/latolight.woff") format("truetype");
}

@font-face {
  font-family: "Lato-Medium", sans-serif;
  src: url("../fonts/lato/latomedium.ttf"),
    url("../fonts/lato/latomedium.woff2") format("woff2"),
    url("../fonts/lato/latomedium.woff") format("truetype");
}

@font-face {
  font-family: "Lato-Bold", sans-serif;
  src: url("../fonts/lato/latobold.ttf"),
    url("../fonts/lato/latobold.woff2") format("woff2"),
    url("../fonts/lato/latobold.woff") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-family: "Lato-Bold", sans-serif;
  font-weight: 900;
  color: #fff;
  line-height: 1.3em;
}

p,
span,
ul,
li,
a {
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #fff;
}

button {
  display: block;
  font-family: "Lato-Semibold", sans-serif;
  border: none;
  background: none;
  transition: 0.4s ease-in-out;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

a {
  display: block;
  transition: 0.4s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

input:focus {
  outline: none;
}

/*  scrollbar __---------*/

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #5e6062;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* *********** */
#app {
  background-color: #343639;
}

/* ------------------------------ */
/* ****************************** */

.main {
  height: 100%;
  min-height: calc(100vh + 70px);
  position: relative;
}

.container {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 1.2rem;
}

/* --------------------HEADER------------------------ */
header {
  grid-area: header;
}

.header__wrap {
  justify-content: space-between;
}

.header__beta {
  width: 2rem;
}

.header__logo {
  height: 101%;
  width: 5rem;
  width: 8rem;
  margin: 0 auto 0 0;
}

@media only screen and (min-width: 768px) {
  .header__beta {
    width: 2.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .header__logo {
    width: 5rem;
  }
}

.header__light {
  margin: 1.65rem 1.6rem 0 auto;
  font-size: 1.3em;
}
