<template>
  <div id="body"></div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator'

    Component({
        name: "TabContent"
    })

    export default class TabContent extends Vue{
    }
</script>

<style scoped>

</style>
