<template>
  <div class="container"></div>
</template>

<script lang="ts">
  import {Component, Vue} from 'vue-property-decorator'

  @Component({
    name:"TransferTab",
  })

  export default class TransferTab extends Vue{

  }
</script>

<style scoped>

</style>
